*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main{
    width: 75%;
    margin: 10px auto;
    border: 1px solid;
    color: white;
    display: grid;
    grid-template-rows:  60px 100px 200px 60px;
    grid-template-columns: repeat(3,1fr)150px;
    grid-gap:10px;
}
.div1{background-color: brown;
    grid-column:1/-1 ;
}
.div2{background-color: green;}
.div3{background-color: aqua;}
.div4{background-color: #5353ed;}
.div5{background-color: black;
    grid-row: 2/4; grid-column: 4/5;
}
.div6{background-color: #ffa502;
    grid-column: 1/4;
}
.div7{background-color:  #00d2d3;
    grid-column: 1/-1;
}