h1{
    color:brown;

    background-color: aqua;
    border: 5px solid black;
    outline-width: 10px;

}

h2{
    background-color: blue;
}
 
p{
    color: aliceblue;
    border-width:6px;
    border-style:solid;
    text-transform: uppercase;
    word-spacing: 10px;
    font-size: 3vw;

}
.p2{
    border-width: 5px;
    border-style: solid;
    border-color: black;
}
#p3{
    border-width: 10px;
    border-style: dotted;
    border-color: brown;
    border-radius: 20px;

}
.fahim1{
    width:300px;
    height:500px;
    background-color: antiquewhite;
    border: 5px solid red;
    margin-top:40px ;
    margin-left: 50px;
    padding: 50px 20px;


}
a{
    color: white;
    text-decoration: none;
    background-color: aqua;
    font-size: 20px;
    
}
a:hover{
    color: aqua;
    background-color: black;


}
a:active{
    color: brown;
}
a:visited{
    color: blue;
    background-color:red;
}

ul{
    list-style-type:decimal;
    color:aliceblue;  
}

body{
background-color: black;
background-image: url(fahim.jpg);
background-repeat: no-repeat;
background-position-x: center;


}